# Working with Known JSON Schemas - Lab

## Introduction
In this lab you'll practice working with json files whose schema you know beforehand.

## Objectives
You will be able to:
* Read JSON Documentation Schemas and translate into code
* Extract data from known json schemas
* Write data to predefined JSON schemas

## Reading a JSON Schema

Here's the JSON schema provided for a section of the NY Times API:
<img src="images/nytimes_movie_schema.png" width=500>

or a fully expanded view:

<img src="images/nytimes_movie_schema_detailed.png" width=500>

You can see this yourself here:
https://developer.nytimes.com/movie_reviews_v2.json#/Documentation/GET/critics/%7Bresource-type%7D.json

You can see that the master structure is a dictionary and has a key named 'response'. This is also a dictionary and has two keys: 'data' and 'meta'. As you continue to examine the schema hierarchy, you'll notice the vast majority in this case are dictionaries.

## Loading the Data File

Start by importing the json file. The sample response from the api is stored in a file **ny_times_movies.json**

In [1]:
ls

CONTRIBUTING.md  index.ipynb  ny_times_movies.json  README.md
images/          LICENSE.md   output.json

In [9]:
#Your code here
import pandas as pd
import json
f = open ("ny_times_movies.json", "r")
data = json.load(f)

## Loading Specific Data

Create a DataFrame of the major data container within the json file, listed under the 'results' heading in the schema above.

In [7]:
type(data)
data.keys()
data["results"];

In [18]:
#Your code here
df = pd.DataFrame(data["results"])
df.byline = df.byline.apply(l)
df.groupby("byline").count()

,critics_pick,date_updated,display_title,headline,link,mpaa_rating,multimedia,opening_date,publication_date,summary_short
byline,,,,,,,,,,
A. O. SCOTT,1,1,1,1,1,1,1,1,1,1
A.O. SCOTT,4,4,4,4,4,4,4,4,4,4
BEN KENIGSBERG,3,3,3,3,3,3,3,1,3,3
GLENN KENNY,4,4,4,4,4,4,4,2,4,4
JEANNETTE CATSOULIS,2,2,2,2,2,2,2,2,2,2
KEN JAWOROWSKI,3,3,3,3,3,3,3,3,3,3
MANOHLA DARGIS,1,1,1,1,1,1,1,1,1,1
TEO BUGBEE,2,2,2,2,2,2,2,2,2,2

## How many unique critics are there?

In [19]:
#Your code here
len(set(df.byline))
# Groupby shows that there are two very similar Rows , A. O. Scott and A.O. Scott. The chnace is hgihg that these are the same persons , this will make 7 unique critics

8

## Create a new column for the review's url. Title the column 'review_url'

In [ ]:
#Your code here

## How many results are in the file?

In [ ]:
#Your code here

## Summary
Well done! Here you continued to gather practice extracting data from JSON files and transforming them into our standard tool of Pandas DataFrames.